#loading-screen-custom {
  height: 100px;
}
.homePage-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

.homePage-container .homePage-title {
  color: #e95220;
  margin: 40px 0 5px 0;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  border-bottom: #e95220 1px solid;
}

.homePage-container .poster {
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 6.25/3;
  background-color: blueviolet;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  margin: 0;
}

.homePage-container .poster .slider {
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(-000%);
  transition: all 2s ease-in-out;
}

.homePage-container .poster .slider .image {
  background-color: #222222;
  height: 100%;
  aspect-ratio: 6.25/3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #e95220 1px solid;
}

.homePage-container .poster .slider .image img {
  height: 100%;
  width: auto;
}

.homePage-container .poster .btn-group {
  position: absolute;
  z-index: 2;
  margin: 0;
  padding-bottom: 3px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.homePage-container .poster .btn-group button {
  width: 50px;
  height: 4px;
  margin: 2px;
  cursor: pointer;
}

.homePage-container .list-item {
  width: 100%;
  max-width: 1200px;
  background-color: #22222216;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 10px;
  border-radius: 20px;
}

.homePage-container .list-item .item {
  width: 100%;
  max-width: 33.33333%;
  aspect-ratio: 1;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.homePage-container .list-item .item .wrapper {
  height: 100%;
  width: auto;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.homePage-container .list-item .item .wrapper img {
  height: 100%;
  width: auto;
  display: block;
  /* transform: scale(1); */
  transition: all 1s ease-in-out;
}

.homePage-container .list-item .item .wrapper .title {
  position: absolute;
  bottom: -200px;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: linear-gradient(0deg, #e95220aa 20%, transparent);
  transition: 0.5s;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.homePage-container .list-item .item .wrapper .title p {
  background-color: #e95220;
  height: 50px;
  width: 150px;
  transform: skewX(-15deg);
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.homePage-container .list-item .item .wrapper:hover .title {
  bottom: 0px;
}

.homePage-container .list-item .item .wrapper:hover {
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .homePage-container .list-item {
    padding: 5px;
  }

  .homePage-container .list-item .item {
    max-width: 50%;
    padding: 5px;
  }
}
@media (max-width: 300px) {
  .homePage-container .list-item {
    padding: 5px;
  }

  .homePage-container .list-item .item {
    max-width: 100%;
    padding: 5px;
  }
}

.homePage-container .card-list-wrapper {
  width: 100%;
  max-width: 1200px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #22222216;
}

.homePage-container .card-list-wrapper .options {
  width: 100%;
  height: 50px;
  background-color: #e95220;
}

.homePage-container .card-list-wrapper .card-list {
  width: 100%;
  height: 300px;
  display: flex;
  /* margin-left: -600px; */
  transition: all 1s ease-in-out;
}

/* .homePage-container .card-list-wrapper .card-list .card {
  height: 100%;
  aspect-ratio: 2/3;
  padding: 5px;
  transform: translateX(00%);
  transition: all 1s ease-in-out;
}

.homePage-container .card-list-wrapper .card-list .card .img-box {
  width: 100%;
  height: 100%;
  background-color: #e95220;
  padding: 5px;
  border-radius: 5px;
}

.homePage-container .card-list-wrapper .card-list .card img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 5px;
} */

.homePage-container .card-list-wrapper .prev,
.homePage-container .card-list-wrapper .next {
  width: 30px;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.homePage-container .card-list-wrapper .prev:hover,
.homePage-container .card-list-wrapper .next:hover {
  background-color: #e952202c;
}

.homePage-container .card-list-wrapper .prev {
  left: 0;
}
.homePage-container .card-list-wrapper .next {
  right: 0;
}
