*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  margin: 0;
  height: 100%;
  width: 100%;
}

#blankLayout-container .bg {
  animation: slide 4s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgba(102, 204, 51, 0.4) 50%,
    rgba(0, 153, 255, 0.4) 50%
  );
  top: 0;
  left: -50%;
  bottom: 0;
  right: -50%;
  position: fixed;
  opacity: 0.5;
  z-index: -1;
}

#blankLayout-container .bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 5s;
}

#blankLayout-container .bg3 {
  animation-duration: 6s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

#blankLayout-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* LOGIN PAGE */

#not-found-page-container,
#sign-in-up-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

#store-logo,
#sign-in-up-container img {
  background-color: #ffffff;
  max-width: 100px;
  border-radius: 20%;
  border: 2px solid #e95220;
  margin: 10px;
}

#sign-in-up-container .form-wrapper {
  width: 100%;
  max-width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 7px 1px rgba(128, 127, 127, 0.736);
}

#sign-in-up-container .form-wrapper .title {
  color: #010101;
  font-size: 3rem;
  margin: 10px 0;
  padding: 0;
}

#sign-in-up-container .form-wrapper .registerBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#sign-in-up-container .form-wrapper .registerBox button {
  background: none;
  border: none;
  color: rgb(28, 114, 233);
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  /* font-weight: bold; */
  font-size: 1rem;
}
#sign-in-up-container .form-wrapper .registerBox button:hover {
  text-decoration: underline;
}

#sign-in-up-container .form-wrapper form {
  width: 100%;
  padding: 0 20px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

/* #sign-in-up-container .form-wrapper form input {
  height: 30px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid #e95220;
  padding: 10px;
  font-size: 0.9rem;
} */

/* #sign-in-up-container .form-wrapper form input:focus {
  background-color: #e95220;
  outline: none;
  color: #ffffff;
} */

#sign-in-up-container .form-wrapper form .error {
  padding: 0 10px;
  margin: 10px 0 20px 0;
  height: 30px;
  width: 100%;
  color: #e90f0f;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.1);
}

#sign-in-up-container .form-wrapper form .error img {
  width: 20px;
  border: none;
  padding: 0;
  margin: 0 5px 0 0;
  background-color: transparent;
}

#sign-in-up-container .form-wrapper form .btn-remember-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#sign-in-up-container .form-wrapper form .btn-remember-login div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

#sign-in-up-container .form-wrapper form .btn-remember-login div input {
  padding: 0;
  margin: 0 10px;
  position: relative;
  top: 2px;
  cursor: pointer;
  width: 15px;
}

#sign-in-up-container .form-wrapper form .btn-remember-login .login {
  background-color: rgb(28, 114, 233);
  border: none;
  width: 100%;
  max-width: 100px;
  height: 30px;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
}

#sign-in-up-container .form-wrapper form .btn-remember-login .login:hover {
  filter: brightness(80%);
}

#sign-in-up-container .form-wrapper .forget-pasword {
  background: none;
  border: none;
  color: rgb(28, 114, 233);
  cursor: pointer;
  margin: 10px 0 20px 0;
  font-size: 1rem;
}

#sign-in-up-container .form-wrapper .forget-pasword:hover {
  text-decoration: underline;
}

#not-found-page-container h1 {
  margin: 0;
  font-size: 2rem;
  text-shadow: 2px 2px 1px #e9522088;
}
